* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    position: fixed;
    touch-action: none;
    user-select: none;
}

#canvas1 {
    border: 5px solid black;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    user-select: none;
}

#player, #layer1, #layer2, #layer3, #layer4, #layer5, #enemy_fly, #enemy_plant, #enemy_spider_big, #fire, #boom, #item_flame, #enemy_lalinea {
    display: none;
}